
<ol id="init2" style="font-size: 2em;" data-mage-init='{"Magento_Cms/js/themento-init2": {} }'>
  <li>I am initializing an element</li>
</ol>


<ol id="init3" style="font-size: 2em;" data-mage-init='{"init3": {} }'>
  <li>I am initializing an element too</li>
</ol>
