<!-- 
    <script type="text/javascript">
    $(document).ready(function () {
    jQuery("ol").on('click', 'li', function(){
        console.log(this);
    });
    });
</script> -->

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Cms/js/themento-init" : {}
        }

    }
</script>