<form class="form brand"
      action="<?= $block->escapeUrl($block->getFormAction()) ?>"
      id="brand-form"
      method="post"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('Brand Info')) ?></span></legend><br />
        <div class="field brand required">
            <label class="label" for="brand"><span><?= $block->escapeHtml(__('Brand name')) ?></span></label>
            <div class="control">
                <input name="brand" id="brand" title="<?= $block->escapeHtmlAttr(__('Brand name')) ?>" value="" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field description required">
            <label class="label" for="description"><span><?= $block->escapeHtml(__('Brand description')) ?></span></label>
            <div class="control">
                <textarea name="description" id="description" title="<?= $block->escapeHtmlAttr(__('Brand description')) ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"></textarea>
            </div>
        </div>
        <?= $block->getChildHtml('form.additional.info') ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                <span><?= $block->escapeHtml(__('Submit')) ?></span>
            </button>
        </div>
    </div>
</form>
